@page "/organizers/edit/{Id}"
@attribute [Authorize]
@inject IAlertService AlertService
@inject IOrganizerService OrganizerService
@inject NavigationManager NavigationManager

<h1>Edit Organizer</h1>
@if (model != null)
{
    <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <div class="form-row">
            <div class="form-group col">
                <label>Organizer Name</label>
                <InputText @bind-Value="model.organizerName" class="form-control" />
                <ValidationMessage For="@(() => model.organizerName)" />
            </div>
            <div class="form-group col">
                <label>Image Location</label>
                <InputText @bind-Value="model.imageLocation" class="form-control" />
                <ValidationMessage For="@(() => model.imageLocation)" />
            </div>
        </div>
       
        <div class="form-group">
            <button disabled="@loading" class="btn btn-primary">
                @if (loading) 
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Save
            </button>
            <NavLink href="organizers" class="btn btn-link">Cancel</NavLink>
        </div>
    </EditForm>
}
else
{
    <div class="text-center p-3">
        <span class="spinner-border spinner-border-lg align-center"></span>
    </div>
}

@code {
    private EditOrganizer model;
    private bool loading;

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var organizer = await OrganizerService.GetById(Id);
        model = new EditOrganizer(organizer);
    }

    private async void OnValidSubmit()
    {
        loading = true;
        try
        {
            await OrganizerService.Update(Id, model);
            AlertService.Success("Update successful", keepAfterRouteChange: true);
            NavigationManager.NavigateTo("organizers");
        }
        catch (Exception ex)
        {
            AlertService.Error("Failed");
            loading = false;
            StateHasChanged();
        }
    }
}