@inherits LayoutComponentBase
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

@if (LoggedIn)
{
    <!-- nav -->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="navbar-nav">
            <NavLink href="" Match="NavLinkMatch.All" class="nav-item nav-link">Home</NavLink>
            <NavLink href="users" class="nav-item nav-link">Users</NavLink>
            <NavLink href="organizers" class="nav-item nav-link">Organizers</NavLink>
            <NavLink href="account/logout" class="nav-item nav-link">Logout</NavLink>
        </div>
    </nav>
}


<div class="app-container @(LoggedIn ? "bg-light" : "")">
    <Alert />
    @Body
</div>

@code {
                //var accountService = scope.ServiceProvider.GetRequiredService<IAccountService>();
             
    @* protected override async Task OnInitializedAsync()
    {
    await AccountService.Initialize();
    } *@

    protected override async Task OnAfterRenderAsync(bool firstRender)
{
    if (firstRender)
    {
await AccountService.Initialize();

        StateHasChanged();
    }
}

    public bool LoggedIn 
    {
        get { return AccountService.User != null; }
    }
}
